<h1>Create New User</h1>

<%= form_for @user do |f| %>

<%= f.text_field :username, placeholder: "Username" %> <br>

<%= f.password_field :password, placeholder:"Password"%> <br>
<%= f.password_field :password_confirmation, placeholder:"Password Confirm"%> <br>


<%= f.submit "Create Account" %>

<%end%>