<h1>Signup</h1>

<%= form_tag signup_path, remote: true do %>

<%= text_field_tag :username %> <br>

<%= password_field_tag :password %> <br>
<%= password_field_tag :password_confirmation %> <br>

<%= submit_tag "Create Account" %>

<%end%>