<!-- Post panel stuff with dumb content -->
<div class="postContainer">
  <div class="post">        
    <span rel='<%="#{note.id}"%>' class="postBody"><%= note.description %></span>     
    <div class="postMeta">
      <span rel='<%="#{note.user_id}"%>' class="userName">@<%= note.username %></span>&nbsp;&nbsp; | &nbsp;&nbsp;<span class="date"><%= note.created_at.strftime("%m/%d/%Y")%>
  </span> &nbsp;&nbsp;| &nbsp;&nbsp;<span rel='<%="#{note.id}"%>' class="commentsLink"><i class="fa fa-comment"></i>&nbsp;<%= note.comments.count %></span></div>   
  </div>
</div>  



<!-- User panel with dumb content -->

<div rel='<%="#{note.user_id}"%>' class='userCC'>
  <div id="hide-user-button"><i class="fa fa-arrow-right">&nbsp; HIDE USER</i></div>
  <div class="hide-user-vert-button"></div>
  <div class='userHeader'><%= note.username %></div>

  <% @userComments = Comment.where(user_id: note.user_id) %>
  <% @userComments.each do |comment|%>

  <div class='commentContainer'>
    <span class="commentBody"><%= comment.description %></span>
    <div class="postMeta">
        <span class="userName">@<%= comment.user_id %></span>&nbsp;&nbsp; | &nbsp;&nbsp;<span class="date"><%= comment.created_at.strftime("%m/%d/%Y")%>
    </span>
    </div>
  </div>

  <% end %>

</div>


<!-- add comment stuff -->

<div rel='<%="#{note.id}"%>' class='commentCC'>
  <div class="postContainer-in-comments">
    <div class="post">        
      <span class="postBody-in-comments"><%= note.description %></span>     
      <div class="postMeta">
        <span class="userName">@<%= note.username %></span>&nbsp;&nbsp; | &nbsp;&nbsp;<span class="date"><%= note.created_at.strftime("%m/%d/%Y")%>
      </div>    
    </div>
  </div>

<div rel='<%="#{note.id}"%>' style="display:<%= current_user ? "block" : "none" %>" class="addComment"><i class="fa fa-plus">&nbsp;&nbsp;<span id="addCommentsHeader">ADD COMMENT</span>&nbsp;&nbsp;</i></div>   

<div class="add-comment-container" style="display:<%= current_user ? "block" : "none" %>" rel='<%="#{note.id}"%>' >
  <textarea name="textarea" rel='<%="#{note.id}"%>' rows="10" cols="50" class="add-comment-input" placeholder="Add your comment here"></textarea>
  <textarea rel='<%="#{note.id}"%>' class="user_id" style="display:none;" >
  <% if (current_user) %>
  <%= current_user.id %>
  <% end %> 
  </textarea>
  <textarea rel='<%="#{note.id}"%>' class="note_id" style="display:none;" ><%= note.id %></textarea>
  <div rel='<%="#{note.id}"%>' class="submitComment"><i class="fa fa-plus"></i></div>
  <div rel='<%="#{note.id}"%>' class="closeComment"><i class="fa fa-times"></i></div>
</div>

<div rel='<%="#{note.id}"%>' id="hide-comments-button"><i class="fa fa-arrow-right">&nbsp; HIDE COMMENTS</i></div>
<!-- <div class="hide-comments-vert-button"></div> -->

  <div rel='<%="#{note.id}"%>' class="comments-body-container">
  
    <div rel='<%="#{note.id}"%>' class='commentHeader'><%= note.comments.count %> Comments</div>

    <!-- Repeated dumb comments -->

    <% @postComments = Comment.where(note_id: note.id) %>    
    <% @postComments.each do |comment|%>

    <%= render "layouts/comment", comment: comment %>

    <% end %>

  </div>

</div>
