<!DOCTYPE html>
<html>
<head>
  <title>Chromext</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="main">
    <!-- SHOW STATUS OF LOG IN -->
    <% if current_user %>

      <p>Welcome, <%=current_user.username %>!</p> 

      <%= link_to 'Sign Out', logout_path, method: :delete %>

      <!-- link_to 'Delete Account', user_path(current_user), {method: :delete, confirm: "Are you really really really sure bud?"} -->

    <% else %>
      <%=link_to 'Log in', login_path %>
      <%=link_to 'Sign Up', signup_path %>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
